// html {
//   background-color: grey;
// }

img {
  width: 100%;
}

.logo {
  max-width: 30px;
}

header div {
  .icon {
    filter: grayscale(100);
    width: 32px;
    border: solid 1px white;
    border-radius: 50%;

    &:hover {
      filter: none;
    }
  }

  i {
    text-decoration: none;
    color: white;
    font-size: 2rem;

    &:hover {
      color: #1DB954;
    }
  }

  ul li {
    border-radius: 9px;
  }

  .amor-amarillo {
    &:hover {
      background: -moz-linear-gradient(180deg, rgba(242, 212, 0, 1) 40%, rgba(254, 165, 9, 1) 60%);
      background: -webkit-linear-gradient(180deg, rgba(242, 212, 0, 1) 40%, rgba(254, 165, 9, 1) 60%);
      background: linear-gradient(180deg, rgba(242, 212, 0, 1) 40%, rgba(254, 165, 9, 1) 60%);

      a {
        color: black;
      }
    }
  }

  .bocanada {
    &:hover {
      background: -moz-radial-gradient(circle, rgba(97, 185, 215, 1) 0%, rgba(60, 110, 183, 1) 74%);
      background: -webkit-radial-gradient(circle, rgba(97, 185, 215, 1) 0%, rgba(60, 110, 183, 1) 74%);
      background: radial-gradient(circle, rgba(97, 185, 215, 1) 0%, rgba(60, 110, 183, 1) 74%);

      a {
        color: white;
      }
    }
  }

  .siempre-es-hoy {
    &:hover {
      background: -moz-linear-gradient(180deg, rgba(209, 204, 206, 1) 46%, rgba(218, 101, 86, 1) 85%, rgba(206, 77, 76, 1) 100%);
      background: -webkit-linear-gradient(180deg, rgba(209, 204, 206, 1) 46%, rgba(218, 101, 86, 1) 85%, rgba(206, 77, 76, 1) 100%);
      background: linear-gradient(180deg, rgba(209, 204, 206, 1) 46%, rgba(218, 101, 86, 1) 85%, rgba(206, 77, 76, 1) 100%);

      a {
        color: black;
      }
    }
  }
}